{% extends "AcmeYoutubeSearchBundle::layout.html.twig" %}

{% block content %}
    <h1>Форма создания тэга</h1>
    <br/>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    <input type="submit" value="Save"/>
    {{ form_end(form) }}
{% endblock %}