{% extends "AcmeYoutubeSearchBundle::layout.html.twig" %}

{% block content %}
    <h1>Список тэгов</h1>
    <br/>
    <table>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.getName() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}