{% extends "AcmeYoutubeSearchBundle::layout.html.twig" %}

{% block content %}
    <h1>Список клипов</h1>
    <br/>
    <table border='1' class="table-list">
        <tr>
            <th>Url</th>
            <th>Time Start</th>
            <th>Time Finish</th>
        </tr>
    {% for clip in clips %}
        <tr>
            <td>{{ clip.getUrl() }}</td>
            <td>{{ clip.getTimeStart() }}</td>
            <td>{{ clip.getTimeFinish() }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}